
<div class="container carde">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <h5 class="card-header">Hotel-Service-App</h5>
                <div class="card-body" style="display: flex;justify-content: center;">
                
                  
                  <a href="/showGuest" class="btn btn-info me-3 mt-3">Show Guests</a>
                
                </div>
              </div>
        <div class="col-lg-3"></div>
    </div>
</div>

