.new-guest{
    background-color: #e63946;
    margin-top: 40px;
    border-radius: 25px;
 
    text-align: center;
    color: white;
}

.new-guest:hover{
   transform: scale(1.1);
}
body{
    
}

.headTwo{
  
    border-bottom: 1px solid rgb(224, 217, 217);
}